<!DOCTYPE html>
<html lang="en" ng-app="skinnydip">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Skinnydip Stub</title>

      <!-- Bootstrap -->
      <link href="vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script>
        var skinnydip = angular.module("skinnydip", []);
        skinnydip.controller("SkinnydipController", function($scope, $http) {
          $scope.some_angular_variable = "I'm from angular";
          $scope.remote_data = []
          $scope.get_things = $http.get("products.json").then(function(response) {
            $scope.remote_data = response.data;
          }, function(response) {
            alert("response failed");
          });
        });
      </script>
    </head>
    <body ng-controller="SkinnydipController">

      <div class="container">
        <div class="page-header">
          <h1>SkinnyDip Test</h1>
          <p class="lead"><b>Twig variable</b>: {{ something }}, generated on {{ app.request.host }}</p>
        </div>

        <!-- verbatim tags prevent twig variable renderering, and allow angular variables to work properly. -->
        {% verbatim %}
        <div>
          <b>Angular variable</b>: {{ some_angular_variable }}
          <div class="table-responsive">
            <table class="table">
              <thead>
                <th>Title</th>
                <th>Barcode</th>
                <th>SKU</th>
              </thead>
              <tbody>
                <tr ng-repeat="product in remote_data">
                  <td>{{ product.title }}</td>  
                  <td>{{ product.barcode }}</td>
                  <td>{{ product.sku }}</td>
                </tr>
              </tbody>
           </table>
          </div>
        </div>
        {% endverbatim %}
      </div>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
